<% layout('layouts/boilerplate')%>
<div>
    <div class="col-6 offset-3"></div>
</div>
<div class="alert alert-danger" role="alert">
    <h1 class="alert-heading"><%= err.message %></h1>
    <% if (process.env.NODE_ENV !== "production") { %>
        <p><%= err.stack %></p>
    <% } %>
</div>